{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/history.css' %}">
    <title>Histórico de Consultas</title>
</head>

<header>
    <div class="header">
        <h1>Histórico de Consultas</h1>
        <h3>Bem-vindo, {{ user.username }}!</h3>
        <button type="button" id="btnVoltar" data-home-url="{% url 'home' %}">Voltar</button>
    </div>
</header>

<body>
    <div class="container">
        {% csrf_token %}
        <h2>Consultas Realizadas</h2>

        {% if consultas %}
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>CEP</th>
                        <th>Valor Conta Luz</th>
                        <th>Ajuste Tarifa</th>
                        <th>Tipo Imóvel</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consulta in consultas %}
                        <tr>
                            <td>{{ consulta.data }}</td>
                            <td>{{ consulta.cep }}</td>
                            <td>R$ {{ consulta.valorContaLuz }}</td>
                            <td>R$ {{ consulta.ajusteTarifa }}</td>
                            <td>{{ consulta.tipoImovel }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Você ainda não fez nenhuma consulta.</p>
        {% endif %}
    </div>

</body>

</html>