{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
    <title>Home</title>
</head>

<header>
    <div class="header">
        <h1>Olá, {{ user.username }}</h1> 
        <button id="historicoBtn">Histórico de Consultas</button>
    </div>
</header>

<body>

    <div class="container">
  
      <!-- Formulário de Consulta -->
      <form id="consultaForm" class="form">
          <input type="text" id="cep" name="cep" required maxlength="8" placeholder="Digite seu CEP">
  
          <input type="number" id="valorContaLuz" name="valorContaLuz" min="0" required step="0.01" placeholder="Digite o valor da conta de luz">
  
          <input type="number" id="ajusteTarifa" name="ajusteTarifa" min="0" required step="0.01" placeholder="Digite o ajuste da tarifa">
  
          <select id="tipoImovel" name="tipoImovel" required>
              <option value="R">Residencial</option>
              <option value="E">Empresarial</option>
          </select>
  
          <button type="submit">Gerar Resultados</button>
      </form>
    </div>

    <script src="{% static 'js/home.js' %}"></script>
</body>