{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Home</title>
</head>

<body>
    <div class="container">
      <div class="form-box">
        <h1>Entrouuuuu!</h1>
    </div>
    <script src="{% static 'js/home.js' %}"></script>
</body>