{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
    <title>Home</title>
</head>

<header>
    <div class="header">
        <h1>Energy!</h1> 
        <button id="historicoBtn">Histórico de Consultas</button>
    </div>
</header>

<body>

    <!-- Formulário de Consulta -->
    <div class="container">
      <form id="consultaForm" class="form">
          <input type="text" id="cep" name="cep" required maxlength="8" placeholder="Digite seu CEP">
  
          <input type="number" id="valorContaLuz" name="valorContaLuz" min="1" required step="0.01" placeholder="Digite o valor da conta de luz">
  
          <input type="number" id="ajusteTarifa" name="ajusteTarifa" min="1" required step="0.01" placeholder="Digite o ajuste da tarifa">
  
          <select id="tipoImovel" name="tipoImovel" required>
              <option value="R">Residencial</option>
              <option value="E">Empresarial</option>
          </select>
  
          <button id="btnResultado" type="submit">Gerar Resultados</button>
      </form>
    </div>

    <!-- Resultados dos Cálculos (Insights) -->
    <div id="resultados" class="resultados" style="display: none;">
        <div class="resultado-item">
            <h3>Quantidade de Painéis Solares</h3>
            <p id="quantidadePaineis">-</p>
        </div>

        <div class="resultado-item">
            <h3>Custo Total do Sistema Solar</h3>
            <p id="custoTotal">-</p>
        </div>

        <div class="resultado-item">
            <h3>Economia após 5 anos</h3>
            <p id="economiaTotal">-</p>
        </div>

        <div class="resultado-item">
            <h3>Consumo Mensal Estimado</h3>
            <p id="consumoMensal">-</p>
        </div>

        <div class="resultado-item">
            <h3>Tempo de Retorno do Investimento</h3>
            <p id="tempoRetorno">-</p>
        </div>

        <div class="resultado-item">
            <h3>Área Necessária para os Painéis</h3>
            <p id="areaTotal">-</p>
        </div>
    </div>

    <script src="{% static 'js/home.js' %}"></script>
</body>